
#pt_qrbox {
    margin-top: 5mm;
    text-align: center;
}

#atcud {
    font-size: 12pt;
}

#pt_qrcode {
    // display: flex;
    // justify-content: center;

    width: 60%;
    display: block;
    margin: 0 auto;
}
